@import "https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css";

:root{
    --primary: rgb(53, 182, 35);
}

body{
    height: 100vh;
    background-color: #efefef;
    display: flex;

    align-items: center ;
    justify-content: center;
}
#player{
    background-color: white;
    width: 90%;
    max-width: 375px;
    box-shadow: 0px 4px 2px 0px rgba(0,0,0,0.12),
                0px 6px 1px -2px rgba(0,0,0,0.12),
                0px 2px 5px 0px rgba(0,0,0,0.2);
}

.card{
    box-shadow: none;
    margin: 0;
}

h4{
    color: var(--primary);
    font-size:25px;
    font-weight: bold;
    margin: 0;
    display: flex;
    align-items: center ;
    justify-content: center;
    padding: 10px;
}

.card-image{
    background: url("http://placehold.it/500") no-repeat center center / cover;
    height: 280px;
}
card-content{
    padding: 10px;
    font-size:24px
}
audio{
 width: 100%;
 margin-top: 20px;    
}
#play-pause,
#next,
#previous{
    background-color: var(--primary);

    align-items: flex-start;
}
#mute{
    color:var(--primary);
    transform: translateY(2px);
}
#skip_previous{
    
    position: absolute;
    margin-top: 55px; 
    margin-left: 50px; 
    
}
#skip_next{
    position: absolute;
    margin-top: 55px; 
    margin-left: 360px; 
    
}
input[type="range"]::-webkit-slider-thumb {
    background-color: var(--primary);
  }
  
  input[type="range"]::-moz-range-thumb {
    background-color: var(--primary);
  }
  
  input[type="range"]::-ms-thumb {
    background-color: var(--primary);
  }
  